#home-content {
    /* TODO: color */
    background-color: gray;
    width: 100%;
    position: relative;
}

.home-book {
    position: absolute;
}

.home-book img {
}

.home-book .home-book-desc {
    position: absolute;
    font-size: 80%;
    padding-left: 20px;
    text-align: justify;
}

.home-book .home-book-ribbon {
    position: absolute;
    /* TODO: color */
    background-color: rgba(30, 15, 70, 0.8);
    z-index: 101;
    color: white;
    padding: 20px;
}

.home-book .home-book-title {
    font-size: 130%;
}