html, body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: tahoma, sans-serif;
    direction: rtl;
}

div#allcontent {
    display: none;
}

div.clear {
    clear: both;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

body {
    width: 100%;
    margin: 0 auto;
}

img.logo {
    position: fixed;
    float: right;
    z-index: 101;
}

div#top-header {
    width: 100%;
    background: #1E0F44;
    position: fixed;
}

div#search-bar {
    position: fixed;
    width: 100%;
    background: url('/media/images/point.png') repeat-x scroll 0 0 / contain #820F19;
}

#search-input {
    color: gray;
    position: fixed;
    background-color: #1E0F44;
    transition: 300ms all linear;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    /* TODO: add -webkit- and shit */
}

#search-button {
    position: fixed;
    color: gray;
    background-color: #1E0F44;
    cursor: pointer;
    text-align: center;
}

div#menu-bar {
    position: fixed;
    width: 100%;
    background: #1E0F44;
}

div#top-menu-container {
    margin: 0 20px;
    padding-top: 3px;
}

#top-menu {
    font-size: 13px;
    font-weight: bold;
    color: gray;
    /* TODO: change color */
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#top-menu td {
    text-align: center;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    /* TODO: change color */
}

#top-menu td:hover {
    color: white;
    border-color: white;
}

#top-menu a {
    display: block;
}

div#side-menu {
    position: fixed;
}

#side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
}

#side-menu ul li {
    display: block;
    text-align: right;
    height: 25px;
    line-height: 25px;
    margin: 0 0 5px;
    padding: 0 3px 0 0;
    color: white;
    background-color: #1E0F44;
}

#top-menu li a, #side-menu li a {
    display: block;
    width: 100%;
}

div#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1E0F44;
    text-align: center;
}

#footer-icons {
    /* TODO: change color */
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    padding: 0 8px;
    margin: 8px 0;
}

#footer-icons a {
    color: gray;
    padding: 0 4px;
    margin: 0;
}

#footer-content {
    margin-right: 140px;
}

#footer-icons a:hover {
    color: white;
}

div#content {
    position: fixed;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

div#outlet {;
    width: 100%;
}