html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    font-family: arial, sans-serif;
    direction: rtl;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

body {
    width: 960px;
    margin: 0 auto;
}

div#container {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

div#top-header {
    height: 140px;
    background: #1E0F44;
}

div#search-bar {
    height: 27px;
    padding: 4px 0;
    background: url('/media/images/point.png') repeat-x scroll 0 4px #820F19;
}

div#search-input {
    float: left;
    margin-left: 20px;
    color: gray; //TODO: change color
}

div#search-input.active {
    box-shadow: inset 0 0 0 1px white;
    color: white; //TODO : change color
}

div#searchbox {
    background-color: #1E0F44;
    outline: none;
    border: none;
    margin: 0;
    float: left;
    width: 79px;
    height: 23px;
    padding: 2px 10px;
    font-size: 17px;
    transition: 300ms all linear;
    //TODO: add -webkit- and shit
}

div#search-input.active div#searchbox {
    width: 179px;
}

div#search {
    background-color: #1E0F44;
    float: left;
    outline: none;
    border: none;
    margin: 0;
    height: 23px;
    font-size: 21px;
    padding: 2px;
    cursor: pointer;
}

div#menu-bar {
    height: 25px;
    background: #1E0F44;
}

div#content {
    background: white;
    padding-bottom: 60px;
}

div#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #1E0F44;
    height: 60px;
}

img.logo {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    width: 95px;
    height: 150px;
}

ul#top-menu {
    font-size: 13px;
    font-weight: bold;
    color: gray; //TODO: change color
    list-style: none;
    margin: 0 20px 0 0;
    padding: 5px 0 0;
}

ul#top-menu li {
    padding: 0;
    display: block;
    float: right;
    width: 100px;
    text-align: center;
    border-right: 1px solid gray;
    border-left: 1px solid gray; //TODO: change color
}

ul#top-menu li:first-child {
    border-right: 2px solid gray;
}
ul#top-menu li:last-child {
    border-left: 2px solid gray;
}

ul#top-menu li:hover {
    color: white;
    border-color: white;
}