{% extends 'base.html' %}

{% block extrastyle %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" />
{% endblock %}

{% block extraheaderjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/home.js" ></script>
{% endblock %}

{% block content %}
<div id="home-content" data-book-size="{{ books.count }}">
    {% for b in books %}
    <div class="home-book" id="home-book-{{ forloop.counter0 }}">
        <img class="book" src="{{ b.picture.url }}"
             data-width="{{ b.picture.width }}" data-height="{{ b.picture.height }}"/>
        <div class="home-book-desc">
            {{ b.miniDescription }}
        </div>
        <div class="home-book-ribbon">
            <div class="home-book-title">{{ b.title }}</div>
            <br/>
            <div class="home-book-author">
                {% for ba in b.authors.all %}{{ ba }}{% if not forloop.last %} - {% endif %}{% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="clear"></div>
</div>
{% endblock %}