{% extends 'base.html' %}

{% block extrastyle %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" />
{% endblock %}

{% block extraheaderjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/home.js" ></script>
{% endblock %}

{% block content %}
<div id="home-content">
    <div class="home-book">
        <img class="book" src="{{ MEDIA_URL }}images/sooe.jpg"/>
        <div class="home-book-desc">
سلام
            خوبی؟
            <br/>
            چه خبر؟ شمسینت
            شسیم سمینت شس منت  شس منت سیش منت ش منتسی منت ش منتسی
             شسیمنت مشنسیت منت تسیش میت شسمینتش منتسی منتسمی نشتسیش متمنتسی شسمنت
            سیمشسنی تمنتس مت م تمنتسی منتسی منتسیم نت
        </div>
        <div class="home-book-ribbon">
            <div class="home-book-title">نوروزدرمانی</div>
            <br/>
            <div class="home-book-author">ونداد جلیلی</div>
        </div>
    </div>
    <div class="home-book">
        <img class="book" src="{{ MEDIA_URL }}images/sooe.jpg"/>
        <div class="home-book-desc">
سلام
            خوبی؟
            <br/>
            چه خبر؟ شمسینت
            شسیم سمینت شس منت  شس منت سیش منت ش منتسی منت ش منتسی
             شسیمنت مشنسیت منت تسیش میت شسمینتش منتسی منتسمی نشتسیش متمنتسی شسمنت
            سیمشسنی تمنتس مت م تمنتسی منتسی منتسیم نت
        </div>
        <div class="home-book-ribbon">
            <div class="home-book-title">سوءتفاهم‌نامه</div>
            <br/>
            <div class="home-book-author">ونداد جلیلی</div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}